####################################################################
# WhiteSource FS-Agent configuration file
####################################################################
checkPolicies=true
forceCheckAllDependencies=false
forceUpdate=false
offline=false
connectionRetries=3
connectionRetriesInterval=5000

ignoreJavaScriptFiles=false
#projectPerFolder=true

#wss.connectionTimeoutMinutes=60
#TEMP
wss.url=https://saas.whitesourcesoftwarX.com/agent

#npm.resolveDependencies=false
#npm.includeDevDependencies=false
npm.runPreStep=true
npm.accessToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJuYW1laWQiOiJlNzEyM2VmMC1iNGZkLTY1OGMtOTI0Ni1iMTlmNDJjODhjNmQiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiZDljMjBlYTItNzM4MC00YjllLTg1MGEtMzA1OGQ3NTM5NWI4Iiwic2lkIjoiMzU5NzkzYWQtMzZmNC00NTE2LTkyZmUtMjExOGQ0ZWFjYjY1IiwiaXNzIjoiYXBwLnZzc3BzLnZpc3VhbHN0dWRpby5jb20iLCJhdWQiOiJhcHAudnNzcHMudmlzdWFsc3R1ZGlvLmNvbXx2c286NGI4ZTljNWItZjk0ZC00NzAzLThkNjYtMWE0ZDQ0ODQ2OTU2IiwibmJmIjoxNTE4MDA2Nzk1LCJleHAiOjE1MjU3ODI3OTR9.VXcw3K0BTJzCFxc3dGGfTGDuOW3AMDp3cZfaUR_tmkwad5lHXJnl1wfUvsu6wcGm1fH5Y_HfMbALomD-eM3yRgTbBOjkFAYt3-iO02Lb-n2xs88X5tGtLJZXX7JQ1NyQ0fvF1EYYOlSExN3kXcbQOV-jnVvvIEH7_r98hiyCRqMAFU0SI350vPLn3n5wQM0wXSd9-T7p8lSFgM9R9BEonNkj8yw9x_eAyyzIESZC7TBZhJlQxcxDdCys_WaHJ_arz-GIbSZGk0Q2NNGU96xoBUAQKeVoWGsAH94_85Ft5xtMUOGDYNqF2qGodPSA2CM0k34xxO_7mlecA6SUGiS9wg

#bower.resolveDependencies=false
#bower.runPreStep=false
#nuget.resolveDependencies=false

#maven.ignoredScopes=test provided
#maven.resolveDependencies=false
#maven.aggregateModules=false

##################################
# Organization tokens:
##################################
apiKey=465d4d8873ea4a8fb982cf063c999bac45654261d45240d4810b91881f0e64ee

projectName=NPM-10
projectVersion=
projectToken=

productName=File System Agent
productVersion=
productToken=
#updateType=APPEND
#requesterEmail=user@provider.com

#########################################################################################
# Includes/Excludes Glob patterns - PLEASE USE ONLY ONE EXCLUDE LINE AND ONE INCLUDE LINE
#########################################################################################
#includes=**/*.c **/*.cc **/*.cp **/*.cpp **/*.cxx **/*.c++ **/*.h **/*.hpp **/*.hxx
#includes=**/*.m **/*.mm  **/*.js **/*.php
#includes=**/*.jar
includes=**/*.js  **/*.json
#includes=**/*.gem **/*.rb
#includes=**/*.dll **/*.cs **/*.c#  **/*.csharp 
#includes=**/*.tgz **/*.deb **/*.gzip **/*.rpm **/*.tar.bz2 
#includes=**/*.zip **/*.tar.gz **/*.egg **/*.whl **/*.py
excludes=**/*sources.jar **/*javadoc.jar
case.sensitive.glob=false
followSymbolicLinks=true

##################################
# Archive Properties
##################################
#archiveExtractionDepth=1
#archiveIncludes=**/*.zip
#archiveExcludes=**/*sources.jar

##################################
# Proxy settings
##################################
#proxy.host=
#proxy.port=
#proxy.user=
#proxy.pass=

##################################
# SCM settings
##################################
#scm.type=
#scm.user=
#scm.pass=
#scm.ppk=
#scm.url=
#scm.branch=
#scm.tag=
##################################
# Linux package manager settings
##################################
#scanPackageManager=true